{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block main %}
<h1>Welcome To Our Store</h1>
{% endblock main %}


{% block content %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Products</h2>
            <h3>Check our <span>Products</span></h3>
        </div>

        <div class="row portfolio-container">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" height=300px>

                <img src="media/{{product.image}}" class="img-fluid" alt="">

                <div class="portfolio-info">
                    <a href="#" id={{product.id}}><p style="color:white">{{product.name}}</p></a>

                    <p>{{product.category}}</p>

                    <span id="divpr{{product.id}}" class="divpr">
                    <a href="add-item?id={{product.id}}" id="pr{{product.id}}" class="btn btn-success cart btn-sm mt-0">
                      Add To cart
                    </a>
                  </span>

                    <a href="media/{{product.image}}">
                        <button class="btn btn-dark btn-sm cart">View</button>
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</section><!-- End Portfolio Section -->

{% endblock content %}
