{% extends "base.html" %}

{% block title %}View product{% endblock title %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>
                {{ product.name }} <br>
                <small>{{ product.category }}</small> <br>
                <strong>₹{{ product.price }}</strong> <br>
                <p>{{ product.desc }}</p>
            </h1>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
