{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}{% endblock content %}

{% block main %}

    {% for msg in messages %}

        <div class="alert alert-primary" role="alert">
            {{msg}}
        </div> 

    {% endfor %}


    <div class="form-container">
        <form action="/login" method="post">
            {% csrf_token %}
            <h3 style="color: black;">Log In</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="form-btn">Login</button>
        </form>
        <p>Not Registered ? <a href="{% url "sign-up" %}">SignUp</p>
    </div>


{% endblock main %}

